<div v-for="violation in fetchedData.violations" class="container" style="padding-top: 25px" :key="violation.id">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item ital">Date: </li>
        <li class="list-group-item ital">Infraction: </li>
        <li class="list-group-item ital">Details: </li>
      </ul>
    </div>
    <div class="col-10">
      <ul class="list-unstyled">
        <li class="list-group-item">{{violation.date}}</li>
        <li class="list-group-item">{{violation.infraction}}</li>
        <li class="list-group-item">{{violation.details}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="nav-profile" role="tabpanel">
  <violations-record :fetchedData="fetchedData"></violations-record>
</div>
  <p v-for="violation in fetchedData.violations">{{violation}}</p>
